:root {
    --border-radius: 2rem;
    --border-radius-small: 0.25rem;
    --ssmal-padding: 0.25rem;
    --smal-padding: 1rem;
    --big-padding: 2rem;
    --big-for-card-wrapper: 100px;
}

@media only screen and (max-width: 450px) {
    :root {
        --big-padding: 1rem;
    }
}

@media only screen and (min-width: 250px) {
    body {
        overflow-x: hidden;
    }
}

progress.animated::-webkit-progress-value {
    transition: width 1s;
}

progress.animated::-moz-progress-bar {
    transition: padding-bottom 1s;
    /* padding-left: 0.5rem; */
    padding-bottom: var(--value);
    /* height: 0.5rem; */
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-60px);
}

text.p-knob-text {
    fill: var(--color);
}

.buttons-container {
    display: flex;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.buttons-container button {
    margin: 0
}

.buttons-container button:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.buttons-container button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.buttons-container button:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}